In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("Ecommerce Purchases")

In [3]:
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

### How many rows are there?

In [5]:
df.shape

(10000, 14)

In [4]:
df.shape[0]

10000

In [6]:
df.shape[1]

14

### datatypes?

In [7]:
df.dtypes

Address              object
Lot                  object
AM or PM             object
Browser Info         object
Company              object
Credit Card           int64
CC Exp Date          object
CC Security Code      int64
CC Provider          object
Email                object
Job                  object
IP Address           object
Language             object
Purchase Price      float64
dtype: object

### Are there missing values?

In [8]:
df.isnull().sum()

Address             0
Lot                 0
AM or PM            0
Browser Info        0
Company             0
Credit Card         0
CC Exp Date         0
CC Security Code    0
CC Provider         0
Email               0
Job                 0
IP Address          0
Language            0
Purchase Price      0
dtype: int64

In [9]:
df.describe(include="all")

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
count,10000,10000,10000,10000,10000,1.000000e+04,10000,10000.000000,10000,10000,10000,10000,10000,10000.000000
unique,10000,9822,2,8287,8653,NaN,121,NaN,10,9954,623,10000,9,NaN
top,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",16 gc,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows CE;...,Brown Ltd,NaN,08/22,NaN,JCB 16 digit,leekathy@yahoo.com,Interior and spatial designer,149.146.147.205,de,NaN
freq,1,2,5068,12,15,NaN,108,NaN,1716,2,31,1,1155,NaN
mean,NaN,NaN,NaN,NaN,NaN,2.341374e+15,NaN,907.217800,NaN,NaN,NaN,NaN,NaN,50.347302
std,NaN,NaN,NaN,NaN,NaN,2.256103e+15,NaN,1589.693035,NaN,NaN,NaN,NaN,NaN,29.015836
min,NaN,NaN,NaN,NaN,NaN,6.040186e+10,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,0.000000
25%,NaN,NaN,NaN,NaN,NaN,3.056322e+13,NaN,280.000000,NaN,NaN,NaN,NaN,NaN,25.150000
50%,NaN,NaN,NaN,NaN,NaN,8.699942e+14,NaN,548.000000,NaN,NaN,NaN,NaN,NaN,50.505000
75%,NaN,NaN,NaN,NaN,NaN,4.492298e+15,NaN,816.000000,NaN,NaN,NaN,NaN,NaN,75.770000
max,NaN,NaN,NaN,NaN,NaN,6.012000e+15,NaN,9993.000000,NaN,NaN,NaN,NaN,NaN,99.990000

### Columns with outliers
##### No outliers for Purchase Price

### What is the average Purchase price?

In [10]:
df['Purchase Price'].mean()

50.347302

### What is the highest and lowest purchase price?

In [11]:
df["Purchase Price"].max()

99.99

In [12]:
df["Purchase Price"].min()

0.0

### Howmany people have English "en" as their language of choice

In [13]:
df["Language"].value_counts()["en"]

1098

### Howmany people have the job title as Lawyer?

In [15]:
df['Job'].value_counts()['Lawyer']

30

### How many People purchase during AM and how many purchased during PM?

In [16]:
df["AM or PM"].value_counts()

AM or PM
PM    5068
AM    4932
Name: count, dtype: int64

### What are the 6 most common job titles???

In [24]:
df["Job"].value_counts().head(6)

Job
Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Purchasing manager                   27
Designer, jewellery                  27
Research officer, political party    27
Name: count, dtype: int64

### Someone made a purchase that came from Lot:90 WT.What is the purchase Price for this transaction???

In [25]:
df[df["Lot"]=="90 WT"]["Purchase Price"]

513    75.1
Name: Purchase Price, dtype: float64

### What is the email of the person with this credit card number:4926535242672853

In [26]:
df[df["Credit Card"]==4926535242672853]["Email"]

1234    bondellen@williams-garza.com
Name: Email, dtype: object

### How many people have American Express a their credit card provider and made purchase above 95dollar?

In [29]:
sum(df[df['CC Provider']=='American Express']['Purchase Price']>=95)

39

In [31]:
len(df[(df['CC Provider']=='American Express') & (df['Purchase Price']>95)])

39

### Howmany people have credit card that expires in 2025?

In [32]:
sum(df["CC Exp Date"].str.endswith("25"))

1033

In [34]:
len(df[(df['CC Exp Date'].apply(lambda x: x.split('/')[1]) == '25')])

1033

In [35]:
sum(df["CC Exp Date"].str[-2:]=='25')

1033

### What are the top 5 email providers(Hard one)